[submodule "hc-train-admin"]
	path = hc-train-admin
	url = https://github.com/haochtech/hc-train-admin.git
[submodule "hc-train-wx"]
	path = hc-train-wx
	url = https://github.com/haochtech/hc-train-wx.git
